* {
    padding: 0px;
    margin: 0px;
}


#workout-header {
    padding:20px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.buttonstrip {
    width: 73%;
    height: 70px;
    margin: auto;
    padding-left: 3.5%;
    margin-top: 15px;
}

.button {
    height: 90%;
    width: 30%;
    background-color: rgb(41, 41, 41);
    margin-top: 3px;
    display: inline-block;
    margin-right: .5%;
    cursor: pointer;
    border: 2px solid white;
}