* {
    padding: 0px;
    margin: 0px;
}


#workout-header {
    padding:20px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.buttonstrip {
    width: 85%;
    height: 70px;
    margin: auto;
    padding-left: 3.5%;
    margin-top: 15px;
}

.button {
    height: 49px;
    width: 28%;
    background-color: rgb(41, 41, 41);
    margin-top: 3px;
    display: inline-block;
    margin-right: 0%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding: 1%;
}

.buttonstripLabelText {
    text-align: center;
    color: white;
    font-family: 'Avenir Light';
    font-size: 18px;
    line-height: 49px;
}

.selected {
    background-color: rgb(74, 13, 109);
    transition: .2s;
}

#start {
    width: 75%;
    height: 70px;
    margin: auto;
    padding-left: 3.5%;
    margin-top: 15px;
    border: 2px solid rgb(151, 12, 12);
}