* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/avenir/avenir-light.otf');
}

body {
    background-color: #150030;
    height: 100%
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Light";
    color: white;
}

#navbar {
    position: relative;
    background-color: #525252;
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 10px #6d5f78;
}

#navbar > * {
    display: inline-block;
}

.navbar-link-text, .navbar-link-text:link, .navbar-link-text:visited {
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    float: right;
    line-height: 70px;
}

.navbar-link-text:hover > h4, .navbar-link-text:active > h4 {
    color: #949494;
}

#navbar-title {
    margin-left: 5%;
    line-height: 70px;
}

#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title-section {
    text-align: center;
    background-color: #0d0d0d;
}

#title-section > h2 {
    margin: 10% 5% 3% 5%
}

#title-section > h4 {
    margin: 4% 5% 10% 5%
}

hr {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

#info {
    flex: 1 0 100%;
    height: 100%;
}

.info-group {
    position: relative;
    display: table;
    width: 95%;
    margin: 5% auto;
    height:200px;
    background-color: #320070;
}

.info-group > h3, .info-group > h5 {
    margin: 5% 5% 5% 5%;
}

.info-group > a, .info-group > a:link, .info-group > a:visited {
    position: absolute;
    margin-left: 5%;
    bottom: 10%;
    padding: 8px 6px 4px 6px;
    text-decoration: none;
    background-color: #525252;
}

.info-group > a:hover, .info-group > a:active {
    background-color: red;
}
