* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/avenir/avenir-light.otf');
}

body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Light";
    color: white;
}

#navbar {
    background-color: #525252;
    width: 100%;
    height: 70px;
}

#navbar > * {
    display: inline-block;
}

.navbar-link-text, .navbar-link-text:link, .navbar-link-text:visited {
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    float: right;
    line-height: 70px;
}

.navbar-link-text:hover > h4, .navbar-link-text:active > h4 {
    color: #949494;
}

#navbar-title {
    margin-left: 5%;
    line-height: 70px;
}