* {
    padding: 0px;
    margin: 0px;
}

:root {
    --start-red: rgb(131, 50, 197);
    --start-active:rgb(57, 0, 68);
    --main-purple: rgb(70, 0, 92);
    --secondary-purple: #680d92;
}    

body {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--main-purple)), to(#000000)) fixed;
}

#workout-header {
    padding:5px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.buttonstrip {
    width: 90%;
    height: 55px;
    margin: auto;
    margin-top: 12px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
}

.button {
    height: 49px;
    width: 35%;
    background-color: rgba(104, 13, 146, .6);
    margin-left: auto;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding: 3px 10px;
    margin-right: 0%
}

.buttonstripLabelText {
    text-align: center;
    color: white;
    font-family: 'Avenir Light';
    font-size: 18px;
    line-height: 49px;
}

.selected {
    background-color: var(--start-red);
    transition: .2s;
}

#start {
    width: 75%;
    margin: auto;
}

.startbutton {
    margin: auto;
    padding-left: 3.5%;
    margin-top: 15px;
    border: 2px solid var(--start-red);
    width:100%;
    height: 60px;
    color: white;
    font-size: 20px;
    font-family: 'Avenir Light';
    background-color: rgba(1,1,1,.4);
    outline: none;
    transition: .2s;
    cursor: pointer;
}

.startbutton:active {
    background-color: var(--start-active);
    outline: none;
    transition: .2s
}

#greyStart {
    color: grey;
    border: 2px solid grey;
}

#greyStart:active {
    background-color: rgb(39, 39, 39);
}

.graph {
    height: 80px;
    width:85%;
    background-color: var(--secondary-purple);
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0px 0px 12px rgba(0,0,0,.7)
}

input {
    color: white;
    background-color: rgba(104, 13, 146, .6);
    border: none;
    outline: 0px;
    padding: 10px;
    width: 12%;
    margin-left: 5%;
    height: 10px;
    margin-top: 10px;
}

.inputDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bottomButtonStrip {
    opacity: 0;
}

.fadeLeft {
    animation-name: fadeLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: .45s;
    animation-timing-function: ease-in-out;
}  

@keyframes fadeLeft {
    from {
        opacity: 1;
        transform: translate(0px,0px);
    }
    to {
        opacity: 0;
        transform: translate(-500px,0px);
    }
}

.fadeLeftFromRight {
    animation-name: fadeLeftFromRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: .45s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeLeftFromRight {
    from {
        transform:translate(400px,-75px);
        opacity:0;
    }
    to {
        transform:translate(0px,-75px);
        opacity:1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .25s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.fadeUp {
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .85s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeUp {
    from {
        opacity:0;
        transform: translate(-27px,15px);
    }
    to {
        opacity:1;
        transform: translate(-27px,-10px);
    }
}

.FadeDownShow1 {
    animation-name: FadeDownShow1;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes FadeDownShow1 {
    from {
        opacity:0;
        transform:translate(-200px,-45px)
    }
    to {
        opacity:1;
        transform:translate(0px,-45px)
    }
}

.FadeDownHide1 {
    animation-name: FadeDownHide1;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes FadeDownHide1 {
    from {
        opacity:1;
        transform:translate(0px,-45px)
    }
    to {
        opacity:0;
        transform:translate(200px,-45px)
    }
}


.FadeDownShow2 {
    animation-name: FadeDownShow2;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes FadeDownShow2 {
    from {
        opacity:0;
        transform:translate(-200px,0px)
    }
    to {
        opacity:1;
        transform:translate(0px,0px)
    }
}

.FadeDownHide2 {
    animation-name: FadeDownHide2;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes FadeDownHide2 {
    from {
        opacity:1;
        transform:translate(0px,0px)
    }
    to {
        opacity:0;
        transform:translate(200px,0px)
    }
}

.fadeInButton {
    animation-name: fadeInButton;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInButton {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.fadeOutButton {
    animation-name: fadeOutButton;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes fadeOutButton {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.center {
    text-align: center;
}