* {
    padding: 0px;
    margin: 0px;
}

:root {
    --start-red: rgb(131, 50, 197);
    --start-active:rgb(57, 0, 68);
    --main-purple: rgb(91, 0, 119);
    --secondary-purple: #680d92;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/avenir-light.otf');
}

@import "../fonts/Inter\ \(web\)/inter.css";

body {
    background-color: #150030;
    height: 100%
}

a, p, h5, h6 {
    font-family: "Avenir";
    font-weight: 300;
    color: white;
}

h3, h4 {
    font-family: "Avenir";
    font-weight: 400;
    color: white;
}

h1, h2 {
    font-family: "Avenir";
    color:white;
}

span {
    color: white;
    font-family: 'Avenir'
}

#navbar {
    position: fixed;
    background-color: #8b25ba;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 28px rgba(0,0,0,.34);
    z-index: 10;
}

#bumper {
    position: relative;
    height: 70px;
    width: 100%;
}

#navbar > * {
    display: inline-block;
}

.navbar-link-text, .navbar-link-text:link, .navbar-link-text:visited {
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    line-height: 70px;
    float: right;
}

#navbar-title {
    margin-left: 5%;
    line-height: 70px;
}

.under {
    width: 0%;
    height: 5px;
    background-color: white;
    margin-top: -16px;
}
.under.active {
    width: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#logo {
    margin-top: 20px;
}

#title-section {
    text-align: center;
    background-image: linear-gradient(var(--main-purple),#14001a);
    height: calc(100vh - 70px);
}

#title-section > h2 {
    margin: 0% 0% 0% 0%
}

#title-section > h4 {
    margin: 4% auto 10% auto;
    width: 75%;
}

#info {
    flex: 1 0 100%;
    height: 100%;
}

.info-group {
    position: relative;
    display: table;
    width: 100%;
    margin: 0% auto;
    height:200px;
    background-color: var(--secondary-purple);
}

.info-group > h3, .info-group > h5 {
    /* margin: 5% 5% 5% 5%; */
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.info-group > a, .info-group > a:link, .info-group > a:visited {
    position: absolute;
    margin-left: 5%;
    bottom: 10%;
    padding: 8px 6px 4px 6px;
    text-decoration: none;
    background-color: #525252;
}


#start {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.startbutton {
    border: none;
    outline: none;
    padding: 4% 18%;
    color: white;
    font-size: 20px;
    font-family: 'Avenir';
    transition: .2s;
    cursor: pointer;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #94007e, #5e12ff);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(207, 73, 255, 0.16), 0px 0px 28px rgba(207, 73, 255, 0.28);
}

.startbutton:active {
    background-color: var(--start-active);
    transition: .2s;
    box-shadow: 0px 0px 5px rgba(207, 73, 255, 0.16), 0px 0px 33px rgba(207, 73, 255, 0.38);
}